body {
    //font-family: 
    //font-family: 'Merienda One', cursive;
    font-family: $heading;
    //font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
    //padding: 3rem;
  }

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        letter-spacing: 1.8rem;
      
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
          letter-spacing: 1rem;
          font-size: 4.7rem;
      }
    /*
  animation-delay: 3s;
  animation-iteration-count: 3;
    */        
    }

    &--sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
          letter-spacing: .5rem;
          font-size: 1.5rem;
      }
    }
  }

  .heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-light-2);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
      font-size: 2rem;
  }

  @include respond(phone) {
      padding: 1rem;
  }

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem ragba($color-black, .2);
    }
  }

  .section-about-sub--text,
  .cakes,
  .story,
  footer {
    font-family: $primary-font;
    font-size: 1.2rem;
  }

  .section-about-sub--text {
    
    @include respond(tab-port) {
      margin-left: 4rem;
  }

  @include respond(phone) {
      margin-left: 3rem;
  }

    & h3 {
      font-size: 2.8rem;
      @include respond(tab-port) {
        font-size: 2.5rem;
        margin-left: 4rem;
    }
  
    @include respond(phone) {
        font-size: 2rem;
    }
    }

    & p {
      @include respond(tab-port) {
        font-size: 1.8rem;
    }
  
    @include respond(phone) {
        font-size: 1rem;
    }
    }
  }

  .cake {
    text-align: center;

    & h3 {
      font-size: 2rem;
      @include respond(phone) {
        font-size: 2rem;
    }
    }

    & p {
      font-size: 1.8rem;
      @include respond(phone) {
        font-size: 1.8rem;
    }
    }

    & h3,
    p {
      margin: 0.5rem 0;
  
    /* @include respond(tab-port) {
        margin: 0
    } */
    }
  }

  